.newPatientContainer {
 width: 100;
 box-sizing: border-box;
 border-left: 1px solid rgba(0, 0, 0, 0.158);
 display: flex;
 flex-direction: column;
 height: 90vh;
}

.newPatientContainer h1 {
 color: rgba(0, 0, 0, 0.733);
 font: 300 2rem "Roboto";
 text-align: center;
}

form>h1 {
 padding-bottom: 20px;
}

.createPatientForm {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: auto;
 padding: 3vmax 5vmax;
 justify-content: space-evenly;
 background-color: white;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
 border: 8px;
 width: 50%;
}

.createPatientForm>div {
 display: flex;
 width: 100%;
 align-items: center;
}

.createPatientForm>div>input,
.createPatientForm>div>select,
.createPatientForm>div>textarea {
 padding: 1vmax 4vmax;
 padding-right: 1vmax;
 width: 100%;
 box-sizing: border-box;
 border: 1px solid rgba(0, 0, 0, 0.267);
 border-radius: 4px;
 font: 300 0.9vmax cursive;
 outline: none;
 margin: 5px 0;
}

.createPatientForm>div>svg {
 position: absolute;
 transform: translateX(1vmax);
 font-size: 1.6vmax;
 color: rgba(0, 0, 0, 0.623);
}

#createPatientBtn {
 border: none;
 background-color: #20832d;
 color: white;
 font: 300 0.9vmax "Roboto";
 width: 100%;
 padding: 0.8vmax;
 cursor: pointer;
 margin-top: 10px;
 transition: all 0.5s;
 border-radius: 4px;
 outline: none;
 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

#createPatientBtn:hover {
 background-color: #1e6928;
}

@media screen and (max-width: 600px) {
 .newPatientContainer {
  background-color: rgb(255, 255, 255);
 }
 .createPatientForm {
  padding: 5vmax;
 }
 .createPatientForm>div>input,
 .createPatientForm>div>select,
 .createPatientForm>div>textarea {
  padding: 2.5vmax 5vmax;
  font: 300 1.7vmax cursive;
 }
 .createPatientForm>div>svg {
  font-size: 2.8vmax;
 }
 #createPatientBtn {
  font: 300 1.9vmax "Roboto";
  padding: 1.8vmax;
 }
}