table th,
td {
 text-align: center;
 line-height: 3rem;
}

.btn {
 display: inline-block;
 text-align: center;
 font-weight: 400;
 color: #858796;
 width: 90px;
 margin: 0 20px;
 text-align: center;
 vertical-align: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 background-color: transparent;
 border: 1px solid transparent;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 line-height: 1.5;
 border-radius: 0.35rem;
 color: #fff;
 outline: none !important;
 -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn_success {
 background-color: #1cc88a !important;
 border-color: #1cc88a !important;
}

.btn_success:hover {
 color: #fff !important;
 background-color: #3fa780 !important;
}

.btn_danger {
 background-color: #e74a3b !important;
 border-color: #e74a3b !important;
}

.btn_danger:hover {
 color: #fff !important;
 background-color: #d14134 !important;
}